function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto IF_TRUE10
goto IF_FALSE11
label IF_TRUE10
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto IF_END12
label IF_FALSE11
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label IF_END12
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto IF_TRUE13
goto IF_FALSE14
label IF_TRUE13
push this 4
push this 5
add
pop this 4
goto IF_END15
label IF_FALSE14
push this 4
push this 6
add
pop this 4
push this 9
if-goto IF_TRUE16
goto IF_FALSE17
label IF_TRUE16
push this 7
if-goto IF_TRUE19
goto IF_FALSE20
label IF_TRUE19
push this 0
push constant 4
add
pop this 0
goto IF_END21
label IF_FALSE20
push this 1
push constant 4
add
pop this 1
label IF_END21
goto IF_END18
label IF_FALSE17
push this 7
if-goto IF_TRUE22
goto IF_FALSE23
label IF_TRUE22
push this 0
push constant 4
sub
pop this 0
goto IF_END24
label IF_FALSE23
push this 1
push constant 4
sub
pop this 1
label IF_END24
label IF_END18
label IF_END15
push this 8
if-goto IF_TRUE25
goto IF_FALSE26
label IF_TRUE25
push this 7
if-goto IF_TRUE28
goto IF_FALSE29
label IF_TRUE28
push this 1
push constant 4
add
pop this 1
goto IF_END30
label IF_FALSE29
push this 0
push constant 4
add
pop this 0
label IF_END30
goto IF_END27
label IF_FALSE26
push this 7
if-goto IF_TRUE31
goto IF_FALSE32
label IF_TRUE31
push this 1
push constant 4
sub
pop this 1
goto IF_END33
label IF_FALSE32
push this 0
push constant 4
sub
pop this 0
label IF_END33
label IF_END27
push this 0
push this 10
gt
not
if-goto IF_TRUE34
goto IF_FALSE35
label IF_TRUE34
push constant 1
pop this 14
push this 10
pop this 0
label IF_FALSE35
push this 0
push this 11
lt
not
if-goto IF_TRUE37
goto IF_FALSE38
label IF_TRUE37
push constant 2
pop this 14
push this 11
pop this 0
label IF_FALSE38
push this 1
push this 12
gt
not
if-goto IF_TRUE40
goto IF_FALSE41
label IF_TRUE40
push constant 3
pop this 14
push this 12
pop this 1
label IF_FALSE41
push this 1
push this 13
lt
not
if-goto IF_TRUE43
goto IF_FALSE44
label IF_TRUE43
push constant 4
pop this 14
push this 13
pop this 1
label IF_FALSE44
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto IF_TRUE46
goto IF_FALSE47
label IF_TRUE46
push constant 10
pop local 4
goto IF_END48
label IF_FALSE47
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto IF_TRUE49
goto IF_FALSE50
label IF_TRUE49
push constant 20
pop local 4
goto IF_END51
label IF_FALSE50
push constant 5
pop local 4
label IF_END51
label IF_END48
push this 14
push constant 1
eq
if-goto IF_TRUE52
goto IF_FALSE53
label IF_TRUE52
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END54
label IF_FALSE53
push this 14
push constant 2
eq
if-goto IF_TRUE55
goto IF_FALSE56
label IF_TRUE55
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END57
label IF_FALSE56
push this 14
push constant 3
eq
if-goto IF_TRUE58
goto IF_FALSE59
label IF_TRUE58
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF_END60
label IF_FALSE59
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF_END60
label IF_END57
label IF_END54
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
